asgiref==3.8.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
crispy-bootstrap5==2024.2
cryptography==42.0.7
defusedxml==0.7.1
Django==5.0.6
django-allauth==0.62.1
django-browser-reload==1.12.1
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-forms-dynamic==1.0.0
django-htmx==1.17.3
django-pghistory==3.2.0
django-pgtrigger==4.11.1
django-readers==2.3.0
django-rich==1.8.0
django-template-partials==24.2
django-tui==24.2
gunicorn==22.0.0
idna==3.7
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
oauthlib==3.2.2
packaging==24.0
pipdeptree==2.20.0
psycopg==3.1.19
psycopg-binary==3.1.19
pycparser==2.22
Pygments==2.18.0
PyJWT==2.8.0
python3-openid==3.2.0
requests==2.31.0
requests-oauthlib==2.0.0
rich==13.7.1
sqlparse==0.5.0
textual==0.59.0
trogon==0.5.0
typing_extensions==4.11.0
uc-micro-py==1.0.3
urllib3==2.2.1
uv==0.1.42
whitenoise==6.6.0
