asgiref==3.8.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
crispy-bootstrap5==2024.10
cryptography==42.0.7
defusedxml==0.7.1
Django==5.1.4
django-allauth==65.3.1
django-browser-reload==1.17.0
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
django-extensions==3.2.3
django-forms-dynamic==1.0.0
django-htmx==1.21.0
django-pghistory==3.5.1
django-pgtrigger==4.13.3
django-readers==2.3.0
django-rich==1.13.0
django-template-partials==24.4
django-trigger==1.0.5
django-tui==24.5
gunicorn==23.0.0
idna==3.10
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
oauthlib==3.2.2
packaging==24.2
pipdeptree==2.24.0
platformdirs==4.3.6
psycopg==3.2.3
psycopg-binary==3.2.3
psycopg2-binary==2.9.10
pycparser==2.22
Pygments==2.19.1
PyJWT==2.10.1
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.4
sqlparse==0.5.3
textual==1.0.0
tree-sitter==0.23.2
tree-sitter-languages==1.10.2
trogon==0.6.0
typing_extensions==4.12.2
uc-micro-py==1.0.3
urllib3==2.3.0
uv==0.5.15
whitenoise==6.8.2
